body {
    background-color: #f8f8f8;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    /* float: left; */
}

nav ul li:hover {
    background-color: #4f4f4f;
}

nav {
    width: 100%;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: gray;
}

main {
    max-width: 75%;
    align-content: center;
    align-self: center;
    margin-left: 5%;
    /* background-color: #fffff8; */
}

article {
    display: inline-block;
    width: 30%;
    border: 5px solid whitesmoke;
    padding: 10px;
}

header {
    background-color: aliceblue;
}

aside {
    float: right;
    width: 19%;
    height: 95%;
    /* min-height: 80%; */
    border: 0.2em dotted gray;
    margin-top: 2.5em;
}

aside div {
    min-height: 10%;
}

hr {
    max-width: 100%;
    margin-left: 0;
}

.Main_Title {
    font-size: 2em;
    background-color: #f0f0d0;
}

.News_Section {
    /* background-color: #e0e0e0; */
    background-color: whitesmoke;
}

section article {
    height: 270px;
    background-color: white;
}

aside section {
    height: 250px;
}

a {
    color: whitesmoke;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* a:hover {
    background-color: #4f4f4f;
} */

.Main_Title div {
    margin-left: 2.1em;
}